<?php
/** @var Updashd\Model\Person $user */

$user = $this->person;

/** @var \Application\View\Helper\BootstrapColumns $columnHelper */
$columnHelper = $this->bootstrapColumns();
/** @var \Application\View\Helper\LayoutBox $boxHelper */
$boxHelper = $this->layoutBox();

echo $columnHelper->startRow();

echo $columnHelper->startColumn(3, ['xs' => 12, 'sm' => 3, 'md' => 3, 'lg' => 3]);

// Profile picture and overview
echo $boxHelper->start();
echo $boxHelper->startBody('profile');
?>
    <img class="profile-user-img img-responsive img-circle" src="<?= $this->updashdPerson($user)->profilePicture(); ?>" alt="User profile picture" />
    <h3 class="profile-username text-center"><?= $user->getName(); ?></h3>
    <p class="text-muted text-center"><?= $user->getUsername(); ?></p>
<!--    <ul class="list-group list-group-unbordered">-->
<!--        <li class="list-group-item">-->
<!--            <b>Role</b> <a class="pull-right">--><?//= count($userAccounts); ?><!--</a>-->
<!--        </li>-->
<!--    </ul>-->
<?php
echo $boxHelper->endBody();
echo $boxHelper->end();

echo $columnHelper->endColumn();

echo $columnHelper->startColumn(9, ['xs' => 12, 'sm' => 9, 'md' => 9, 'lg' => 9]);

echo $boxHelper->start();
echo $boxHelper->startBody();
echo $this->render('forms/user/overview.phtml');
echo $boxHelper->endBody();
echo $boxHelper->end();

echo $columnHelper->endColumn();
echo $columnHelper->endRow();