<?php
$this->inlineScript()->appendFile($this->basePath('js/account/daterangepicker.js'));
$this->inlineScript()->captureStart();
echo <<<JS
initDateRangePicker('.daterange', '{$this->updashdDate($this->start, 'm/d/Y h:i:s a')}','{$this->updashdDate($this->end, 'm/d/Y h:i:s a')}');
JS;
$this->inlineScript()->captureEnd();

/** @var \Application\View\Helper\LayoutBox $boxHelper */
$boxHelper = $this->layoutBox();
?>
<?= $boxHelper->start() ?>
<?= $boxHelper->addHeader('Date Range') ?>
<?= $boxHelper->startBody() ?>
<div class="input-group date">
    <div class="input-group-addon">
        <i class="fa fa-calendar"></i>
    </div>

    <input name="range" type="text" class="daterange form-control pull-right" id="datepicker"/>

    <span class="input-group-btn">
        <input type="submit" class="btn btn-success" value="Apply"/>
    </span>
</div>
<?= $boxHelper->endBody() ?>
<?= $boxHelper->end() ?>