<?php
/** @var \Application\View\Helper\LayoutSmallBox $lsb */
$lsb = $this->layoutSmallBox();

/** @var \Application\View\Helper\LayoutInfoBox $lib */
$lib = $this->layoutInfoBox();

/** @var \Application\View\Helper\BootstrapColumns $ch */
$ch = $this->bootstrapColumns();

/** @var \Application\View\Helper\LayoutBox $bh */
$bh = $this->layoutBox();

/** @var \Application\View\Helper\BootstrapColumnsSmart $bhs */
$bhs = $this->bootstrapColumnsSmart();

echo $this->render('partial/account/daterangepicker.phtml');

//////////////////////
// Incident Summary //
//////////////////////
$incidentSummary = $this->incidentSummary;

if (count($incidentSummary)) {
    echo '<h4>Incident Summary</h4>';

    echo $ch->addRow(array_map(function ($e) use ($lsb) {
        /** @var \Updashd\Model\Severity $severity */
        $severity = $e['severity'];
        return $lsb->add(
            $e['cnt'],
            'Unread ' . $severity->getSeverityName() . ' Incident' . ($e['cnt'] != 1 ? 's' : ''),
            $severity->getLayoutColor(),
            $severity->getLayoutIcon(),
            $severity->getLayoutIconVendor(),
            'See Incidents',
            $this->routeUrl('list', ['severity' => $severity->getSeverityId(), 'read' => false], 'incident')
        );
    }, $incidentSummary));
}


/////////////////////
// Overall Summary //
/////////////////////
$overallSummary = $this->overallSummary;

echo '<h4>Overall Summary</h4>';
if (count($overallSummary)) {
    $totalResults = 0;

    foreach ($overallSummary as $resultSummaryItem) {
        $totalResults += $resultSummaryItem['cnt'];
    }

    echo $bhs->render(array_map(function ($e) use ($lib, $totalResults) {
        $cnt = $e['cnt'];
        $percent = round($cnt * 100 / $totalResults);
        /** @var \Updashd\Model\Severity $severity */
        $severity = $e['severity'];

        return $lib->add(
            $severity->getSeverityName(),
            $percent . '%',
            $severity->getLayoutColor(),
            $severity->getLayoutIcon(),
            $severity->getLayoutIconVendor(),
            $percent,
            $cnt . ' of ' . $totalResults
        );
    }, $overallSummary));
}
else {
    echo $this->bootstrapAlert('No Summary Available', 'Sorry, no data is available to render an overall summary.', 'info');
}

/////////////////////////
// Environment Summary //
/////////////////////////
$environmentSummary = $this->environmentSummary;

if (count($environmentSummary)) {
    echo '<h4>Environment Summary</h4>';

    echo $bhs->render(array_map(function ($env) use ($bh) {
        $contentHtml = '';

        $environmentName = '';

        $totalCount = 0;

        foreach ($env as $severity) {
            $totalCount += $severity['cnt'];
        }

        foreach ($env as $severity) {
            $environmentName = $severity['environmentName'];
            $severityName = $severity['severityName'];
            $cnt = $severity['cnt'];
            $percent = round($cnt * 100 / $totalCount);

            $contentHtml .= $this->bootstrapProgressGroup(
                $severityName,
                $severity['cnt'] . ' (' . $percent . '%)',
                $percent,
                $severity['bootstrapColor']
            );
        }

        $html = $bh->start();
        $html .= $bh->addHeader($environmentName);
        $html .= $bh->addBody($contentHtml);
        $html .= $bh->end();

        return $html;
    }, $environmentSummary));
}

/////////////////////
// Service Summary //
/////////////////////
$serviceSummary = $this->serviceSummary;

if (count($serviceSummary)) {
    echo '<h4>Service Summary</h4>';

    echo $bhs->render(array_map(function ($service) use ($bh) {
        $contentHtml = '';

        $serviceName = '';

        $totalCount = 0;

        foreach ($service as $severity) {
            $totalCount += $severity['cnt'];
        }

        foreach ($service as $severity) {
            $serviceName = $severity['serviceName'];
            $severityName = $severity['severityName'];
            $cnt = $severity['cnt'];
            $percent = round($cnt * 100 / $totalCount);

            $contentHtml .= $this->bootstrapProgressGroup(
                $severityName,
                $severity['cnt'] . ' (' . $percent . '%)',
                $percent,
                $severity['bootstrapColor']
            );
        }

        $html = $bh->start();
        $html .= $bh->addHeader($serviceName);
        $html .= $bh->addBody($contentHtml);
        $html .= $bh->end();

        return $html;
    }, $serviceSummary));
}