<?php
/** @var \Application\Service\Menu $menu */
$menu = $this->updashdMenu();
$currentItem = $menu->getItemById($menu->getActiveId());

echo '<ol class="breadcrumb">';
$output = '';
while ($currentItem) {
    $html = '<li><a href="' . $this->routeUrl()->getUrlFromMenuItem($currentItem) . '">';

    if ($currentItem->getIcon()) {
        $html .= '<i class="fa fa-' . $currentItem->getIcon() . '"></i>';
    }

    $html .= $currentItem->getName() . '</a></li>';

    $output =  $html . $output;

    $currentItem = $currentItem->getParent();
}
echo $output;
echo '</ol>';