<?php
// In any of your .phtml files:
/** @var \Laminas\View\Helper\FlashMessenger $flash */
$flash = $this->flashMessenger();
$flash->setMessageOpenFormat('<div%s>
     <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
     <p>')
    ->setMessageSeparatorString('</p><p>')
    ->setMessageCloseString('</p></div>');

echo $flash->render('error',   array('alert', 'alert-dismissible', 'alert-danger'));
echo $flash->render('info',    array('alert', 'alert-dismissible', 'alert-info'));
echo $flash->render('default', array('alert', 'alert-dismissible', 'alert-warning'));
echo $flash->render('success', array('alert', 'alert-dismissible', 'alert-success'));