<?php
$isAuthed = $this->updashdPerson()->isAuthenticated();
$username = $this->updashdPerson()->username();

if ($isAuthed) :?>
<!-- User Account Menu -->
<li class="dropdown user user-menu">
    <!-- Menu Toggle Button -->
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <!-- The user image in the navbar-->
        <img src="<?= $this->updashdPerson()->profilePicture(); ?>" class="user-image" alt="User Image">
        <!-- hidden-xs hides the username on small devices so only the image appears. -->
        <span class="hidden-xs"><?= $this->updashdPerson()->name(); ?></span>
    </a>
    <ul class="dropdown-menu">
        <!-- The user image in the menu -->
        <li class="user-header">
            <img src="<?= $this->updashdPerson()->profilePicture(); ?>" class="img-circle" alt="User Image">

            <p>
                <?= $this->updashdPerson()->name(); ?>
                <small>Member since <?= $this->updashdPerson()->createdDate('M. Y'); ?></small>
            </p>
        </li>
        <!-- Menu Body -->
        <!--        <li class="user-body">
                    <div class="row">
                        <div class="col-xs-4 text-center">
                            <a href="#">Accounts</a>
                        </div>
                        <div class="col-xs-4 text-center">
                            <a href="#">Sales</a>
                        </div>
                        <div class="col-xs-4 text-center">
                            <a href="#">Friends</a>
                        </div>
                    </div>
                </li>-->
        <!-- Menu Footer-->
        <li class="user-footer">
            <div class="pull-left">
                <a href="<?= $this->routeUrl('index', [], 'overview', 'user', ['user' => $username]); ?>"
                   class="btn btn-default btn-flat">Profile</a>
            </div>
            <div class="pull-right">
                <a href="<?= $this->routeUrl('index', [], 'signout', 'auth'); ?>" class="btn btn-default btn-flat">Sign out</a>
            </div>
        </li>
    </ul>
</li>
<?php else: ?>
<!-- User Account Menu -->
<li class="dropdown user user-menu">
    <!-- Menu Toggle Button -->
    <a href="<?= $this->routeUrl('index', [], 'signin', 'auth'); ?>">Login</a>
</li>
<?php endif; ?>