<p><?= $this->escapeHtml($this->name); ?>,</p>

<p>
    Someone has requested to reset the password for your account.
    If this is you, please click the link below to set a new password.
    If this was not you, please ignore this email.
</p>

<div><a class="btn bg-blue" href="<?= $this->escapeHtmlAttr($this->resetUrl); ?>">Reset Password</a></div>
<div class="btn-url">Or copy: <?= $this->escapeHtmlAttr($this->resetUrl) ?></div>

<p><b>Warning: This link is only valid for one hour.</b></p>
