<p><?= $this->escapeHtml($this->name); ?>,</p>

<p>
Someone has an Updashd account with this email address (<?= $this->escapeHtml($this->email); ?>).
If this is your account, please verify this address by clicking below.
If this is not your email address, ignore this email.
</p>

<div><a class="btn bg-blue" href="<?= $this->escapeHtmlAttr($this->verifyUrl); ?>">Verify Email Address</a></div>
<div class="btn-url">Or copy: <?= $this->escapeHtmlAttr($this->verifyUrl) ?></div>

<p><b>Warning: This link is only valid for one hour.</b></p>
