<p><?= $this->escapeHtml($this->name); ?>,</p>

<p>Welcome to Updashd. We hope you have a positive experience
    using this service to monitor your systems.</p>

<p>If you have questions or suggestions, please send them to
    Updashd Support at <a href="mailto:support@updashd.com">support@updashd.com</a>.</p>
