<p class="login-box-msg">Enter your email address to reset your password.</p>

<?= $this->render('forms/auth/forgotpassword.phtml'); ?>

<a href="<?= $this->routeUrl('index', [], 'signin', 'auth'); ?>">Sign In</a><br>
<a href="<?= $this->routeUrl('index', [], 'signup', 'auth'); ?>" class="text-center">Sign Up</a>
