<?php
$reason = $this->reason;
$form = $this->form;
?>

<?php if ($reason): ?>
    <p class="login-box-msg">Token invalid.</p>

    <p>Sorry, we were unable to reset your password.</p>

    <p><b>Reason:</b> <?= $this->escapeHtml($reason); ?></p>

    <a href="<?= $this->routeUrl('index', [], 'signin', 'auth'); ?>">Sign In</a><br>
<?php endif; ?>

<?php if ($form): ?>
    <p class="login-box-msg">Enter a new password.</p>

    <?= $this->render('forms/auth/resetpassword.phtml'); ?>

    <a href="<?= $this->routeUrl('index', [], 'signin', 'auth'); ?>">Sign In</a><br>
<?php endif; ?>