<p class="login-box-msg">Check your email.</p>

<p>If we found an account with that email, you should be receiving a message to reset your password.</p>

<p><b>You must reset your password within one hour.</b></p>

<a href="<?= $this->routeUrl('index', [], 'signin', 'auth'); ?>">Sign In</a><br />