.updashd-icon {
    width: 30px;
    height: 30px;
}

.updashd-icon-large {
    width: 56px;
    height: 56px;
}

.box-footer .pagination {
    margin: 0;
}

.small-box h3 {
    overflow: hidden;
    text-overflow: ellipsis;
}