<?php

use Application\View\Helper\BootstrapForm;

$this->inlineScript()->appendFile($this->basePath('js/account/configlib/form.js'));

/** @var \Application\Form\NotifierConfig $form */
$form = $this->form;
$form->prepare();

/** @var BootstrapForm $bsFormHelper */
$bsFormHelper = $this->bootstrapForm();
$bsFormHelper->setOption(BootstrapForm::OPTION_CHECKBOX_LABEL_POS, BootstrapForm::CHECKOUT_LABEL_POS_RIGHT);

/** @var \Application\View\Helper\BootstrapColumns $ch */
$ch = $this->bootstrapColumns();

echo $bsFormHelper->start($form);

foreach ($form->getGroups() as $group) {
    echo '<fieldset>';
    echo '<legend>' . $this->escapeHtml($group->getLabel()) . '</legend>';

    foreach ($form->getFieldNamesFromFields($group->getFields()) as $fieldName) {
        echo $bsFormHelper->startGroup('config-field');

        $bsFormHelper->setOption(BootstrapForm::OPTION_CHECKBOX_LABEL_POS, BootstrapForm::CHECKOUT_LABEL_POS_LEFT);
        echo $ch->startColumn(3);
        echo $bsFormHelper->getLabelHtml($fieldName);
        echo $ch->endColumn();

        echo $ch->startColumn(3);
        echo $bsFormHelper->getElementHtml($fieldName . $form::SUFFIX_FIELD_TYPE, 'config-field-type');
        echo $ch->endColumn();

        $bsFormHelper->setOption(BootstrapForm::OPTION_CHECKBOX_LABEL_POS, BootstrapForm::CHECKOUT_LABEL_POS_RIGHT);
        echo $ch->startColumn(6, null, 'config-value');
        echo $ch->startRow(12);
        echo $ch->startColumn(12);
        echo $bsFormHelper->getElementHtml($fieldName);
        echo $ch->endColumn();
        echo $ch->endRow();
        echo $ch->startRow();
        echo $ch->startColumn(12);
        echo $bsFormHelper->getElementHtml($fieldName . $form::SUFFIX_USE_ENCRYPTION);
        echo $ch->endColumn();
        echo $ch->endRow();
        echo $ch->endColumn();
        $bsFormHelper->setOption(BootstrapForm::OPTION_CHECKBOX_LABEL_POS, BootstrapForm::CHECKOUT_LABEL_POS_LEFT);

        echo $ch->startColumn(6, null, 'config-reference-field');
        echo $bsFormHelper->getElementHtml($fieldName . $form::SUFFIX_REFERENCE_FIELD);
        echo $ch->endColumn();

        echo $bsFormHelper->endGroup();
    }
}

echo $bsFormHelper->getElementHtml('submit', 'btn-primary btn-flat');
echo $bsFormHelper->end();