<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style>
        .email-container {
            width: 700px;
            margin-left: auto;
            margin-right: auto;
        }

        .email-table {
            width: 100%;
            font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
        }

        .bg-blue {
            background-color: #132240;
            color: #728cbf;
        }

        .header {
            padding: 20px;
        }

        .logo-size {
            width: 75px;
            height: 64px;
        }

        .spacing-cell {
            width: 20px;
        }

        .title {
            font-size: 2em;
            margin: 0;
        }

        .subtitle {
            font-size: 1em;
        }

        .bg-content {
            color: #404040;
            background-color: white;
        }

        .content {
            padding: 20px;
        }

        .content a {
            color: #3966bf;
        }

        .content-title {
            font-size: 1.5em;
            margin: 0;
        }

        .footer {
            padding: 20px;
            font-size: 0.75em;
        }

        .footer a {
            color: #728cbf;
        }

        .content a.btn {
            display: inline-block;
            padding: 10px;
            text-decoration: none;
            color: #728cbf;
        }

        .btn-url {
            font-size: 0.75em;
        }
    </style>
</head>
<body>
<div class="email-container">
    <table cellpadding="0" cellspacing="0" class="email-table">
        <tr>
            <td class="bg-blue header">
                <table cellpadding="0" cellspacing="0" class="email-table">
                    <tr>
                        <td class="logo-size" rowspan="2">
                            <img class="logo-size" src="http://updashd.com/img/logo/rectangle/updashd-50.png" alt="Updashd Icon"/>
                        </td>
                        <td class="spacing-cell"></td>
                        <td><span class="title">Updashd</span></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><span class="subtitle">Service Monitoring</span></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="bg-content content">
                <?php if ($this->title) : ?>
                    <h1 class="content-title"><?= $this->escapeHtml($this->title); ?></h1>
                <?php endif; ?>

                <?= $this->content;  ?>
            </td>
        </tr>
        <tr>
            <td class="bg-blue footer">
                <a href="https://updashd.com">Updashd</a><?php if ($this->footerLink) : ?>—<a href="<?= $this->escapeHtmlAttr($this->url); ?>"><?= $this->escapeHtml($this->footerLink); ?></a><?php endif; ?>
            </td>
        </tr>
    </table>
</div>
</body>
</html>
