<?php
/** @var \Application\Service\Menu $menu */
$menu = $this->updashdMenu();

/** @var \Application\Menu\Item $rootItem */
$rootItem = $menu->getDefaultItem();

/** @var \Application\View\Helper\UpdashdAccount $updashdAccount */
$updashdAccount = $this->updashdAccount();

$currentAccount = $updashdAccount->getAccount();
$accounts = $updashdAccount->getAccounts();

/** @var \Updashd\Model\Person $authPerson */
$authPerson = $this->updashdPerson()->getPerson();

$isAdmin = $authPerson ? $authPerson->getRoleType() == 'ADMIN' : null;
?>

<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">

    <?php if ($updashdAccount->getActiveAccount()) : ?>
    <!-- Selected Account -->
    <div class="user-panel">
        <div class="pull-left image">
            <img src="<?= $updashdAccount->getAccountLogoUrl(); ?>" alt="Account Icon" />
        </div>
        
        <div class="info">
            <p><?= $updashdAccount->getActiveAccount()->getName(); ?></p>
<!--            <a href="#"><i class="fa fa-circle text-danger"></i> Down</a>-->
<!--            <a href="#"><i class="fa fa-circle text-warning"></i> Warning</a>-->
<!--            <a href="#"><i class="fa fa-circle text-info"></i> Abnormal</a>-->
            <a href="#"><i class="fa fa-circle text-success"></i> Normal</a>
        </div>
    </div>
    <?php endif; ?>

    <?php if ($accounts || $isAdmin) : ?>
    <ul class="sidebar-menu" data-widget="tree">
        <li class="treeview">
            <a href="#">
                <?= $this->bootstrapIcon('folder', 'fa', null, 'i'); ?>
                <span>Change Account</span>
                <span class="pull-right-container"><i class="fa fa-angle-down pull-right"></i></span>
            </a>
            <ul class="treeview-menu">
                <?php foreach ($accounts as $account) : ?>
                    <li>
                        <?=
                        $this->link(
                                $account->getName(),
                                $this->routeUrl()->getUrl('index', [], 'dashboard', 'account', ['account' => $account->getSlug()], false)
                        );
                        ?>
                    </li>
                <?php endforeach; ?>
                
                <?php if ($isAdmin) : ?>
                <li><a href="<?= $this->routeUrl()->getUrlFromMenuItemById('admin-dashboard'); ?>">Administration</a></li>
                <?php endif; ?>
            </ul>
        </li>
    </ul>
    <?php endif; ?>

    <?php echo $this->render('layout/partials/sidebar/search.phtml'); ?>

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu" data-widget="tree">
        <?php
        foreach ($rootItem->getChildren() as $item) {
            if ($item->isDivider()) {
                echo '<li class="header">' . $item->getName() . '</li>';
            }
            elseif ($item->isItem() && $item->isVisible($menu)) {
                if ($item->hasVisibleChildren($menu)) {
                    echo '<li class="treeview' . ($item->isActive($menu) ? ' active' : '') . '">';
                }
                else {
                    echo '<li ' . ($item->isActive($menu) ? 'class="active"' : '') . '>';
                }

                echo $this->render('layout/partials/sidebar/leftitem.phtml', ['item' => $item, 'menu' => $menu]);

                if ($item->hasVisibleChildren($menu)) {
                    echo '<ul class="treeview-menu">';
                    foreach ($item->getChildren() as $subItem) {
                        if ($subItem->isVisible($menu)) {
                            echo '<li class="' . ($subItem->isActive($menu) ? 'active' : '') . '">';
                            echo $this->render('layout/partials/sidebar/leftitem.phtml', ['item' => $subItem, 'menu' => $menu]);
                            echo '</li>';
                        }
                    }
                    echo '</ul>';
                }

                echo '</li>';
            }
        }
        ?>
<!--        <li class="header">HEADER</li>-->
<!--        <!-- Optionally, you can add icons to the links -->
<!--        <li class="active"><a href="#"><i class="fa fa-link"></i> <span>Link</span></a></li>-->
<!--        <li><a href="#"><i class="fa fa-link"></i> <span>Another Link</span></a></li>-->
<!--        <li class="treeview">-->
<!--            <a href="#"><i class="fa fa-link"></i> <span>Multilevel</span>-->
<!--                <span class="pull-right-container">-->
<!--              <i class="fa fa-angle-left pull-right"></i>-->
<!--            </span>-->
<!--            </a>-->
<!--            <ul class="treeview-menu">-->
<!--                <li><a href="#">Link in level 2</a></li>-->
<!--                <li><a href="#">Link in level 2</a></li>-->
<!--            </ul>-->
<!--        </li>-->

    </ul>
    <!-- /.sidebar-menu -->
</section><!-- /.sidebar -->