<?php
/** @var \Application\Menu\Item $item */
$item = $this->item;
/** @var \Application\Service\Menu $menu */
$menu = $this->updashdMenu();
?>
<a href="<?= $this->routeUrl()->getUrlFromMenuItem($item); ?>">
    <?= $item->getIcon() ? '<i class="fa fa-' . $item->getIcon() . '"></i>' : ''; ?>
    <span><?= $item->getName() ?></span>

    <?php if ($item->hasVisibleChildren($menu)) : ?>
    <span class="pull-right-container">
        <i class="fa fa-angle-left pull-right"></i>
    </span>
    <?php endif; ?>
</a>