<?php
$isAuth = $this->updashdPerson()->isAuthenticated();
if ($isAuth) :
?>
<!-- search form (Optional) -->
<form action="<?= $this->routeUrl('index', [], 'search'); ?>" method="get" class="sidebar-form">
    <div class="input-group">
        <input type="text" name="q" class="search form-control" placeholder="Search...">
        <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
            </span>
    </div>
</form>
<!-- /.search form -->
<?php
endif;