<?php
/** @var \Application\View\Helper\LayoutSmallBox $lsb */
$lsb = $this->layoutSmallBox();

/** @var \Application\View\Helper\LayoutInfoBox $lib */
$lib = $this->layoutInfoBox();

/** @var \Application\View\Helper\BootstrapColumns $ch */
$ch = $this->bootstrapColumns();

/** @var \Application\View\Helper\LayoutBox $bh */
$bh = $this->layoutBox();

/** @var \Application\View\Helper\BootstrapColumnsSmart $bhs */
$bhs = $this->bootstrapColumnsSmart();

/** @var bool $canView */
$canView = $this->canView;

$statusesSummary = $this->statusesSummary;

$buckets = [];

/** @var \Updashd\Model\Result $resultLatest */
foreach ($statusesSummary as $resultLatest) {

    $severity = $resultLatest->getStatusCode()->getSeverityName();
    $environment = $resultLatest->getNodeService()->getNode()->getEnvironment()->getEnvironmentName();

    $buckets[$environment][] = $resultLatest;
}

if (count($statusesSummary)) {
    foreach ($buckets as $env => $results) {

        echo '<h2>' . $env . '</h2>';

        echo $ch->startRow();

        /** @var \Updashd\Model\Result $resultLatest */
        foreach ($results as $resultLatest) {

            echo $ch->startColumn(2, ['xs' => 12, 'sm' => 6, 'md' => 4, 'lg' => 2]);

            $severity = $resultLatest->getStatusCode();
            $ns = $resultLatest->getNodeService();
            $n = $ns->getNode();

            $resultListURL = $this->routeUrl('list', ['node_name' => $n->getNodeName(), 'node_service_name' => $ns->getNodeServiceName()], 'result');

            $content = [];
            $content [] = 'on ' . $this->escapeHtml($n->getNodeName());
            $content [] = 'from ' . $this->escapeHtml($resultLatest->getZone()->getZoneName());
            $content [] = $this->updashdDateDiff()->formatAgoDynamic($resultLatest->getStartTime());
            $content [] = round($resultLatest->getElapsedTime(), 3) . ' sec';

            $content = join('', array_map(function ($line) {
                return '<div>' . $line . '</div>';
            }, $content));

            $title = $ns->getNodeServiceName();

            if (! $title) {
                $title = $ns->getService()->getServiceName();
            }

            echo $lsb->add(
                $title,
                $content,
                $severity->getLayoutColor(),
                $severity->getLayoutIcon(),
                $severity->getLayoutIconVendor(),
                $canView ? 'View' : null,
                $canView ? $resultListURL : null
            );
            echo $ch->endColumn();
        }

        echo $ch->endRow();
    }
}
else {
    echo $this->bootstrapAlert('No Summary Available', 'Sorry, no data is available to render an overall summary.', 'info');
}