<?php
/** @var Updashd\Model\Account $account */
$account = $this->account;

/** @var \Application\View\Helper\BootstrapColumns $columnHelper */
$columnHelper = $this->bootstrapColumns();
/** @var \Application\View\Helper\LayoutBox $boxHelper */
$boxHelper = $this->layoutBox();

echo $columnHelper->startRow();

echo $columnHelper->startColumn(3, ['xs' => 12, 'sm' => 3, 'md' => 3, 'lg' => 3]);

// Profile picture and overview
echo $boxHelper->start();
echo $boxHelper->startBody('profile');
?>
    <img class="profile-user-img img-responsive img-circle" src="<?= $this->updashdAccount($account)->getAccountLogoUrl(); ?>" alt="Account Logo image" />
    <h3 class="profile-username text-center"><?= $account->getName(); ?></h3>
    <p class="text-muted text-center"><?= $account->getOwner()->getName() ; ?></p>
    <ul class="list-group list-group-unbordered">
        <li class="list-group-item">
            <b>Service Checks</b> <a class="pull-right">21</a>
        </li>
    </ul>
<?php
echo $boxHelper->endBody();
echo $boxHelper->end();

// Audit Details
echo $boxHelper->start();
echo $boxHelper->addHeader('Audit');
echo $boxHelper->startBody();
?>
    <strong><i class="fa fa-plus margin-r-5"></i> Created</strong>
    
    <p class="text-muted">
        <?= $account->getCreator() ? $account->getCreator()->getName() : 'N/A'; ?><br />
        <?= $account->getCreatedDate()->format(DATE_RFC822); ?><br />
    </p>
    
    <hr />
    
    <strong><i class="fa fa-refresh margin-r-5"></i> Modified</strong>
    
    <p class="text-muted">
        <?= $account->getUpdater() ? $account->getUpdater()->getName() : 'N/A'; ?><br />
        <?= $account->getUpdatedDate()->format(DATE_RFC822); ?><br />
    </p>
<?php
echo $boxHelper->endBody();
echo $boxHelper->end();

echo $columnHelper->endColumn();
echo $columnHelper->startColumn(9, ['xs' => 12, 'sm' => 9, 'md' => 9, 'lg' => 9]);

echo $boxHelper->start();
echo $boxHelper->startBody();
echo $this->render('forms/account.phtml');
echo $boxHelper->endBody();
echo $boxHelper->end();

echo $columnHelper->endColumn();
echo $columnHelper->endRow();