<?php
/** @var Updashd\Model\Zone $zone */
$zone = $this->zone;

/** @var \Application\View\Helper\BootstrapColumns $columnHelper */
$columnHelper = $this->bootstrapColumns();
/** @var \Application\View\Helper\LayoutBox $boxHelper */
$bh = $this->layoutBox();

echo $columnHelper->startRow();

echo $columnHelper->startColumn(3, ['xs' => 12, 'sm' => 3, 'md' => 3, 'lg' => 3]);

// Profile picture and overview
echo $bh->start();
echo $bh->startBody('profile');
?>
    <h3 class="profile-username text-center"><?= $zone->getZoneName(); ?></h3>

    <?php if ($zone->getAccount()) : ?>
    <p class="text-muted text-center"><?= $zone->getAccount()->getName(); ?></p>
    <?php endif; ?>

    <ul class="list-group list-group-unbordered">
        <li class="list-group-item">
            <b>Some Stat</b> <a class="pull-right">1</a>
        </li>
    </ul>
<?php
echo $bh->endBody();
echo $bh->end();

// Audit Details
echo $bh->start();
echo $bh->addHeader('Audit');
echo $bh->startBody();
?>
    <strong><i class="fa fa-plus margin-r-5"></i> Created</strong>

    <p class="text-muted">
        <?= $zone->getCreator() ? $zone->getCreator()->getName() : 'Creator N/A'; ?><br />
        <?= $zone->getCreatedDate() ? $zone->getCreatedDate()->format(DATE_RFC822) : 'Date N/A'; ?><br />
    </p>

    <hr />

    <strong><i class="fa fa-refresh margin-r-5"></i> Modified</strong>

    <p class="text-muted">
        <?= $zone->getUpdater() ? $zone->getUpdater()->getName() : 'Updater N/A'; ?><br />
        <?= $zone->getUpdatedDate() ? $zone->getUpdatedDate()->format(DATE_RFC822) : 'Date N/A'; ?><br />
    </p>
<?php
echo $bh->endBody();
echo $bh->end();

echo $columnHelper->endColumn();

echo $columnHelper->startColumn(9, ['xs' => 12, 'sm' => 9, 'md' => 9, 'lg' => 9]);

echo $bh->start();
echo $bh->startBody();
echo $this->render('forms/zone.phtml');
echo $bh->endBody();
echo $bh->end();

echo $columnHelper->endColumn();
echo $columnHelper->endRow();