<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
        <h2>Roles</h2>
        <?php foreach ($this->roles as $role) : ?>
            <?= $role ?><br />
        <?php endforeach; ?>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
        <h2>Resources</h2>
        <?php foreach ($this->resources as $resource) : ?>
            <?= $resource ?><br />
        <?php endforeach; ?>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
        <h2>Actions</h2>
        <?php foreach ($this->actions as $action) : ?>
            <?= $action ?><br />
        <?php endforeach; ?>
    </div>
</div>

<h2>Tests</h2>
<?php
/** @var \Application\View\Helper\BootstrapTable $thelp */
$thelp = $this->bootstrapTable();

echo $thelp->start();

$headings = [];
foreach ($this->accessTable as $roleName => $roleResources) {
    $headings = array_keys($roleResources);
}
array_unshift($headings, '');

echo $thelp->addHeadings($headings);

foreach ($this->accessTable as $roleName => $roleResources) {

    echo $thelp->startRow();

    echo $thelp->addCell($roleName);

    foreach ($roleResources as $resourceName => $resourceActions) {
        echo $thelp->startCell();

        foreach ($resourceActions as $actionName => $isAllowed) {
            echo ($isAllowed ? $actionName : '') . '<br />';
        }

        echo $thelp->endCell();
    }

    echo $thelp->endRow();
}

echo $thelp->end();