<?php
$to = $this->to;

/** @var \Application\View\Helper\BootstrapButton $buttonHelper */
$buttonHelper = $this->bootstrapButton();
?>

Click below to send a test email to <strong><?= $this->escapeHtml($to) ?></strong>.

<form method="post"><input type="submit" name="email" value="Send Email" class="btn btn-warning" /></form>