<?php
$this->inlineScript()->appendFile($this->basePath('js/personsearch.js'));
?>
<div class="row">
    <div class="col-xs-6">
        <select class="person-select form-control">
            <option value="">No person selected</option>
        </select>
    </div>
</div>