<?php
$stats = $this->stats;

/** @var \Application\View\Helper\LayoutBox $bh */
$bh = $this->layoutBox();

/** @var \Application\View\Helper\LayoutInfoBox $ib */
$ib = $this->layoutInfoBox();

/** @var \Application\View\Helper\BootstrapColumns $ch */
$ch = $this->bootstrapColumns();

$columnHtml = [];

foreach ($stats as $zoneName => $queues) {
    $contentHtml = '';
    $serviceName = '';
    $totalCount = 0;

    foreach ($queues as $queueName => $queueDetails) {
        $totalCount += is_array($queueDetails) ? array_sum($queueDetails) : $queueDetails;
    }

    foreach ($queues as $queueName => $queueDetails) {

        if (! is_array($queueDetails)) {
            $percent = $totalCount ? round($queueDetails * 100 / $totalCount) : 0;
            $contentHtml .= $this->bootstrapProgressGroup(
                $queueName,
                $queueDetails,
                $percent
            );
        }
        else {
            foreach ($queueDetails as $serviceName => $count) {
                $percent = $totalCount ? round($count * 100 / $totalCount) : 0;
                $contentHtml .= $this->bootstrapProgressGroup(
                    $queueName . ': ' . $serviceName,
                    $count,
                    $percent
                );
            }
        }
    }

    $html = $bh->start();
    $html .= $bh->addHeader($zoneName);
    $html .= $bh->addBody($contentHtml);
    $html .= $bh->end();

    $columnHtml[$zoneName] = $html;
}

echo $this->bootstrapColumnsSmart($columnHtml);

//foreach ($stats as $zoneName => $queues) {
//    echo '<h4>' . $zoneName . '</h4>';
//
//    echo $ch->addRow(array_map(function ($e) use ($ib) {
//        $label = $e['label'];
//        $value = $e['value'];
//
//        // This is the Pending queue
//        if (is_array($value)) {
//            foreach ($value as $serviceQueue) {
//                $serviceLabel = $serviceQueue['label'];
//                $size = $serviceQueue['size'];
//            }
//        }
//        // This just a zone-wide queue
//        else {
//            return $ib->add($label, $value);
//        }
//
//    }, $queues));
//}


//if (count($serviceSummary)) {
//    echo '<h4>Service Summary</h4>';
//
//    echo $ch->addRow(array_map(function ($service) use ($bh) {
//        $contentHtml = '';
//
//        $serviceName = '';
//
//        $totalCount = 0;
//
//        foreach ($service as $severity) {
//            $totalCount += $severity['cnt'];
//        }
//
//        foreach ($service as $severity) {
//            $serviceName = $severity['serviceName'];
//            $severityName = $severity['severityName'];
//            $cnt = $severity['cnt'];
//            $percent = round($cnt * 100 / $totalCount);
//
//            $contentHtml .= $this->bootstrapProgressGroup(
//                $severityName,
//                $severity['cnt'],
//                $percent,
//                $severity['layoutColor']
//            );
//        }
//
//        $html = $bh->start();
//        $html .= $bh->addHeader($serviceName);
//        $html .= $bh->addBody($contentHtml);
//        $html .= $bh->end();
//
//        return $html;
//    }, $serviceSummary));
//}