<p class="login-box-msg">Verify Your Email Address</p>

<p>An verification message has been sent to your email. Please check your email and click the &quot;Verify Email Address&quot; button.</p>

<p><b>This must be done within an hour.</b></p>