<p class="login-box-msg">Sign up to start monitoring</p>

<?php
echo $this->render('forms/auth/signup.phtml');
?>

<a href="<?= $this->routeUrl('index', [], 'signin', 'auth'); ?>" class="text-center">Sign In</a>
