<!DOCTYPE html>
<?php
if ($this->updashdLayout()->getTitle()) {
    $this->headTitle($this->updashdLayout()->getTitle());
}
?>
<html lang="en">
<head>
    <meta charset="utf-8">
    <?= $this->headTitle('Updashd')->setSeparator(' - '); ?>

    <?= $this->headMeta()
        ->appendName('viewport', 'width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no')
        ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
    ?>

    <?= $this->headLink(['rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'])
        ->prependStylesheet($this->basePath('css/layout.css'))
        ->prependStylesheet($this->basePath('bower_components/bootstrap/dist/css/bootstrap.min.css'))
        ->prependStylesheet($this->basePath('bower_components/font-awesome/css/font-awesome.min.css'))
        ->prependStylesheet($this->basePath('bower_components/Ionicons/css/ionicons.min.css'))
        ->prependStylesheet($this->basePath('bower_components/AdminLTE/dist/css/AdminLTE.min.css'))
    ?>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition login-page">

<div class="login-box">
    <div class="login-logo">
        <a href="/"><img class="updashd-icon-large" src="<?= $this->basePath('img/logo-square.svg') ?>" /> Updashd</a>
    </div>

    <div class="login-box-body">

        <?= $this->content; ?>

    </div>
</div>

<?= $this->render('layout/partials/ga.phtml'); ?>
<?= $this->inlineScript()
    ->prependFile($this->basePath('bower_components/AdminLTE/dist/js/app.min.js'))
    ->prependFile($this->basePath('bower_components/bootstrap/dist/js/bootstrap.min.js'))
    ->prependFile($this->basePath('bower_components/jquery-slimscroll/jquery.slimscroll.min.js'))
    ->prependFile($this->basePath('bower_components/jquery/dist/jquery.min.js'))
?>
</body>
</html>
