<!DOCTYPE html>
<?php
if ($this->updashdLayout()->getTitle()) {
    $this->headTitle($this->updashdLayout()->getTitle());
}
?>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <?= $this->headTitle('Updashd')->setSeparator(' - '); ?>

        <?= $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <?= $this->headLink(['rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'])
            ->prependStylesheet($this->basePath('css/layout.css'))
            ->prependStylesheet($this->basePath('bower_components/AdminLTE/dist/css/AdminLTE.min.css'))
            ->prependStylesheet($this->basePath('bower_components/AdminLTE/dist/css/skins/skin-black.min.css'))
            ->prependStylesheet($this->basePath('bower_components/Ionicons/css/ionicons.min.css'))
            ->prependStylesheet($this->basePath('bower_components/font-awesome/css/font-awesome.min.css'))
            ->prependStylesheet($this->basePath('bower_components/bootstrap/dist/css/bootstrap.min.css'))
            ->prependStylesheet($this->basePath('bower_components/select2/dist/css/select2.min.css'))
            ->prependStylesheet($this->basePath('bower_components/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css'))
            ->prependStylesheet($this->basePath('bower_components/bootstrap-daterangepicker/daterangepicker.css'))
        ?>
        
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body class="hold-transition skin-black sidebar-mini">
    
    <div class="wrapper">
        <!-- Main Header -->
        <header class="main-header">
            <?= $this->render('layout/partials/header/logo.phtml') ?>
            <?= $this->render('layout/partials/header/navbar.phtml') ?>
        </header>
        
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <?= $this->render('layout/partials/sidebar/left.phtml') ?>
        </aside>
        
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <?= $this->render('layout/partials/content/title.phtml') ?>
                <?= $this->render('layout/partials/content/breadcrumb.phtml') ?>
            </section>
        
            <!-- Main content -->
            <section class="content">
                <?= $this->render('layout/partials/content/flash_messages.phtml'); ?>

                <?= $this->content; ?>
                
                <?= $this->render('layout/partials/debug.phtml') ?>
            </section>
        </div>
    
        <!-- Main Footer -->
        <footer class="main-footer">
            <?= $this->render('layout/partials/footer/right.phtml') ?>
            <?= $this->render('layout/partials/footer/left.phtml') ?>
        </footer>
    
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <?= $this->render('layout/partials/sidebar/right.phtml') ?>
        </aside>
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    
    <?= $this->render('layout/partials/ga.phtml'); ?>
    <?= $this->inlineScript()
        ->prependFile($this->basePath('bower_components/AdminLTE/dist/js/adminlte.min.js'))
        ->prependFile($this->basePath('bower_components/bootstrap-daterangepicker/daterangepicker.js'))
        ->prependFile($this->basePath('bower_components/moment/min/moment.min.js'))
        ->prependFile($this->basePath('bower_components/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js'))
        ->prependFile($this->basePath('bower_components/select2/dist/js/select2.full.min.js'))
        ->prependFile($this->basePath('bower_components/bootstrap/dist/js/bootstrap.min.js'))
        ->prependFile($this->basePath('bower_components/jquery-slimscroll/jquery.slimscroll.min.js'))
        ->prependFile($this->basePath('bower_components/jquery/dist/jquery.min.js'))
    ?>
    </body>
</html>
