<!-- Logo -->
<a href="/" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini">
        <img class="updashd-icon" src="<?= $this->basePath('img/logo-square.svg') ?>" alt="Updashd" />
    </span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg">
        <img class="updashd-icon" src="<?= $this->basePath('img/logo-square.svg') ?>" alt="Updashd" /> Updashd
    </span>
</a>