<?php
if (\Application\Doctrine\Logger::hasQueries()) {
    $queries = \Application\Doctrine\Logger::getQueries();

    $totalTime = 0;

    array_walk($queries, function ($e) use (& $totalTime) {
        $totalTime += array_key_exists('duration', $e) ? $e['duration'] : 0;
    });

    /** @var \Application\View\Helper\LayoutBox $bh */
    $bh = $this->layoutBox();

    echo $bh->start('box-solid', 'collapsed-box');
    echo $bh->addHeader('Queries', 'with-border', [
        ['type' => 'badge', 'text' => count($queries) . ' cnt, ' . round($totalTime, 3) . ' sec total'],
        ['icon' => 'plus', 'action' => 'collapse'],
    ]);
    echo $bh->startBody();

    foreach ($queries as $query) {
        echo (array_key_exists('duration', $query) ? round($query['duration'], 5) . ' sec' : 'Incomplete') . '<br />';
        echo
            '<pre>' .
            (array_key_exists('sql', $query) ? $query['sql'] : 'SQL NOT FOUND') . "\n\n" .
            (array_key_exists('stack', $query) ? $query['stack'] : 'STACK NOT FOUND') .
            '</pre>';
    }

    echo $bh->endBody();
    echo $bh->end();
}
