<p class="login-box-msg">
    Sign in to <?= $this->continue ? 'continue' : 'start a session'; ?>.
</p>

<?php
echo $this->render('forms/auth/signin.phtml');
?>

<a href="<?= $this->routeUrl('index', [], 'signup', 'auth'); ?>">Sign Up</a><br />
<a href="<?= $this->routeUrl('index', [], 'forgot', 'auth'); ?>" class="text-center">Forgot Username/Password</a>

