<?php
/** @var \Application\View\Helper\LayoutBox $boxHelper */
$boxHelper = $this->layoutBox();
/** @var \Application\View\Helper\BootstrapColumns $colHelper */
$colHelper = $this->bootstrapColumns();
/** @var \Application\View\Helper\BootstrapButton $buttonHelper */
$buttonHelper = $this->bootstrapButton();

echo $boxHelper->start('solid');
echo $boxHelper->addHeader('Understanding Updashd Accounts');
echo $boxHelper->startBody();
?>
<p>At a bank, an account is where the money is kept. Multiple people can have access (if desired) to that account.</p>
<p>Similarly, for Updashd, an account contains all the functional parts of monitoring (service tests, results, etc.). Multiple people can have access to one Updashd account.</p>
<p>Accounts can also be used for organization. It is particularly useful if you have a large infrastructure and need to separate different data (teams, products, etc.)</p>
<?php
echo $boxHelper->endBody();
echo $boxHelper->end();



echo $colHelper->startRow();

echo $colHelper->startColumn(6);

echo $boxHelper->start('info');
echo $boxHelper->addHeader('Create Account');
echo $boxHelper->startBody();
?>
<p>If you are here to create an account and get started, this is the choice for you.</p>

<p>Steps to create an account:</p>
<ul>
    <li>Give it a name</li>
    <li>Choose a &quot;slug&quot; or alias for the account. This is used in the URL (eg. https://updashd.com/account/myslug).</li>
    <li>Add one or more environments. (eg. Production, Stage, Testing)</li>
    <li>Add one or more notification methods.</li>
</ul>
<?php
echo $buttonHelper->link('Create Account', $this->routeUrl('createaccount'), 'primary', 'btn-flat');
echo $boxHelper->endBody();
echo $boxHelper->end();

echo $colHelper->endColumn();
echo $colHelper->startColumn(6);

echo $boxHelper->start('warning');
echo $boxHelper->addHeader('Join Account');
echo $boxHelper->startBody();
?>
    <p>If you are here to join an existing account and use its existing configuration, this is the choice for you.</p>

    <p>Steps to join an account:</p>
    <ul>
        <li>Request access using the account &quot;slug&quot;</li>
        <li>Wait for an administrator of that account to approve.</li>
    </ul>
<?php
echo $buttonHelper->link('Join Account', $this->routeUrl('joinaccount'), 'warning', 'btn-flat');
echo $boxHelper->endBody();
echo $boxHelper->end();

echo $colHelper->endColumn();

echo $colHelper->endRow();
