<?php

$this->inlineScript()->appendFile($this->basePath('js/account/node/list.js'));

$environmentId = $this->environmentId;

/** @var \Updashd\Model\Node[] $nodes */
$nodes = $this->nodes;

/** @var \Application\View\Helper\LayoutBox $boxHelper */
$boxHelper = $this->layoutBox();

/** @var \Application\View\Helper\BootstrapColumns $columnHelper */
$columnHelper = $this->bootstrapColumns();

/** @var \Application\View\Helper\BootstrapNav $navHelper */
$navHelper = $this->bootstrapNav();

/** @var \Application\View\Helper\BootstrapForm $formHelper */
$formHelper = $this->bootstrapForm();
$formHelper->setOption($formHelper::OPTION_LAYOUT, $formHelper::LAYOUT_VERTICAL);

/** @var \Application\Form\NodeFilter $filterForm */
$filterForm = $this->filterForm;

echo $columnHelper->startRow();
echo $columnHelper->startColumn(3, ['xs' => 12, 'sm' => 4, 'md' => 3, 'lg' => 3]);

echo $this->bootstrapButton('Add Node', $this->routeUrl('edit', ['env' => $environmentId], 'node'), 'primary', 'btn-lg btn-block margin-bottom');

echo $formHelper->start($filterForm);
echo $boxHelper->start('solid');
echo $boxHelper->addHeader('Filters');
echo $boxHelper->startBody();

echo $formHelper->addGroup('environment', null, 'multi-select-select2');
echo $formHelper->addGroup('service', null, 'multi-select-select2');
echo $formHelper->addGroup('node_name');
echo $formHelper->addGroup('node_hostname');
echo $formHelper->addGroup('node_service_name');

echo $boxHelper->endBody();
echo $boxHelper->startFooter();
echo $formHelper->getElementHtml('filter', 'btn-primary btn-flat');
echo $this->bootstrapButton('Reset', $this->routeUrl('list'), 'warning', 'btn-flat');
echo $boxHelper->endFooter();
echo $boxHelper->end();
echo $formHelper->end();

echo $columnHelper->endColumn();
echo $columnHelper->startColumn(3, ['xs' => 12, 'sm' => 8, 'md' => 9, 'lg' => 9]);


echo $columnHelper->startRow();
foreach ($nodes as $node) {
    echo $columnHelper->startColumn(4);

    echo $boxHelper->start($node->getIsEnabled() ? 'info' : 'default', $node->getIsEnabled() ? '' : 'box-solid');
    echo $boxHelper->addHeader(
        $node->getNodeName() . ' (' . $node->getEnvironment()->getEnvironmentName() . ")<br /><small>" . $node->getHostname() . "</small>",
        'with-border',
        [
            ['url' => $this->routeUrl('edit', ['nid' => $node->getNodeId()]), 'icon' => 'edit', 'tooltip' => 'Edit'],
//            ['url' => $this->routeUrl('delete', ['nid' => $node->getNodeId()]), 'icon' => 'times', 'tooltip' => 'Delete'],
        ]
    );
    echo $boxHelper->startBody(null, 'no-padding');
    echo $navHelper->start('pills', 'nav-stacked');
    foreach ($node->getNodeServices() as $nodeService) {
        $serviceName = $nodeService->getService()->getServiceName();
        
        if ($nodeService->getNodeServiceName())  {
            $serviceName = $nodeService->getNodeServiceName() . ' (' . $serviceName . ')';
        }

        $nsEnabled = $node->getIsEnabled() && $nodeService->getIsEnabled();
        $label = $nsEnabled ? $this->updashdSchedule($nodeService->getScheduleType(), $nodeService->getScheduleValue()) : 'Disabled';
        $labelType = $nsEnabled ? 'info' : 'default';
    
        $content = '';

//        $content .= $this->link($this->bootstrapIcon('times'), $this->routeUrl('delete_service', ['nsid' => $nodeService->getNodeServiceId()]));

        $content .= '<ul class="list-inline">';
        $content .= '<li>' . $this->escapeHtml($serviceName) . '</li>';
        $content .= '<li>' . $this->bootstrapLabel($label, $labelType) . '</li>';

        foreach ($nodeService->getNodeServiceZones() as $nodeServiceZone) {
            $zone =  $nodeServiceZone->getZone();
            $content .= '<li>' . $this->updashdNodeServiceZoneStatus($nodeServiceZone) . '</li>';
        }

        $content .= '</ul>';

        $url = $this->routeUrl('service_basic', ['nsid' => $nodeService->getNodeServiceId()]);
        echo $navHelper->addItem($content, $url, null);
    }
    echo $navHelper->addItem('Add Service', $this->routeUrl('service_basic', ['nid' => $node->getNodeId()]), null, null, 'fa fa-plus');
    echo $navHelper->end();
    echo $boxHelper->endBody();
    echo $boxHelper->end();
    echo $columnHelper->endColumn();
}
echo $columnHelper->endRow();

echo $columnHelper->endColumn();
echo $columnHelper->endRow();