<ul class="nav navbar-nav">
    <?= $this->render('layout/partials/navbar/dropdown/useraccount.phtml'); ?>

    <!-- Control Sidebar Toggle Button -->
<!--    <li>-->
<!--        <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>-->
<!--    </li>-->
</ul>