<?php
$milliseconds = $this->milliseconds;
$maxScore = $this->maxScore;
$hits = $this->hits;
$types = $this->types;
$params = $this->params;
$type = $this->type;

/** @var \Application\View\Helper\LayoutBox $boxHelper */
$boxHelper = $this->layoutBox();
/** @var \Application\View\Helper\BootstrapProgress $bootstrapProgress */
$bootstrapProgress = $this->bootstrapProgress();
/** @var \Application\View\Helper\BootstrapList $listHelper */
$listHelper = $this->bootstrapList();
/** @var \Application\View\Helper\BootstrapNav $navHelper */
$navHelper = $this->bootstrapNav();
/** @var \Application\View\Helper\BootstrapColumns $colHelper */
$colHelper = $this->bootstrapColumns();

echo $colHelper->startRow();
echo $colHelper->startColumn(4, ['xs' => 12, 'sm' => 4, 'md' => 3, 'lg' => 2]);
echo $boxHelper->start('primary', '');
echo $boxHelper->addHeader('Filter');
echo $boxHelper->startBody(null, 'no-padding');
$activeId = strtolower('type-' . $type);
if ($type) {
    $items = [
        [
            'id' => '',
            'url' => $this->routeUrl('index', $params),
            'content' => 'Clear Filter',
            'icon' => 'fa fa-times-circle',
        ]
    ];
}
else {
    $items = [];
}
$items = array_merge($items, array_map(function($elem) use ($params) {
    $key = $elem['key'];
    $id = strtolower('type-' . $key);

    return [
        'id' => $id,
        'url' => $this->routeUrl('index', $params + ['type' => $key]),
        'content' => $key,
        'label' => $elem['doc_count']
    ];
}, $types));
echo $navHelper->add($items, $activeId, 'pills', 'nav-stacked');
echo $boxHelper->endBody();
echo $boxHelper->end();
echo $colHelper->endColumn();

echo $colHelper->startColumn(8, ['xs' => 12, 'sm' => 8, 'md' => 9, 'lg' => 10]);
echo $boxHelper->start('primary', 'no-padding');

echo $boxHelper->addHeader('Results for "' . $this->query . '"');
echo $boxHelper->startBody(null, 'no-padding');

echo $navHelper->start('pills', 'nav-stacked');
foreach ($hits as $hit) {
    $score = $hit['_score'];
    $percent = round(($score / $maxScore) * 100);
    $obj = $hit['_source'];
    $linkData = $obj['url'];

    $url = $this->routeUrl(
        $linkData['action'],
        $linkData['get_params'],
        $linkData['controller'],
        $linkData['route'],
        $linkData['route_params']
    );

    $content = '';
    $content .= '<strong>' . $this->printArrayValue($obj, 'name') . '</strong>';
    $content .= ' <span class="label label-default">' . $this->printArrayValue($obj, 'type') . '</span>';

//    foreach ($obj as $field => $value) {
//        $content .= '<br />' . $field . ': ' . json_encode($value);
//    }

    if (array_key_exists('highlight', $hit)) {
        foreach ($hit['highlight'] as $field => $highlights) {
            foreach ($highlights as $highlight) {
                $content .= '<div class="highlight"><strong>' . $field . ': </strong>' . $highlight . '</div>';
            }
        }
    }

//    $content = $obj['name'] . ' <br /><small>' . $obj['type'] . '</small>';

    echo $navHelper->startItem(false);
    echo $navHelper->getItemHtml($content, $url, $percent . '%');
    echo $navHelper->endItem();
}
echo $navHelper->end();

echo $boxHelper->endBody();
echo $boxHelper->end();
echo $colHelper->endColumn();
echo $colHelper->endRow();
